<!DOCTYPE html>

<html>
    <head>
        <title>nikaxe.dev</title>

        <link rel="icon" href="../favicon.png">

        <link rel="stylesheet" href="../index.css">

        <script id="loaddata" src="../database/data.js"></script>

        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    </head>

    <body>
        <div class="profile build-opacity-spawn">
            <img src="../images/accountlogo.png" class="profile-picture">

            <h1 class="profile-text">nikaxe.dev</h1>

            <p id="quote">loading...</p>
        </div>

        <p style="color: lightblue;">
            <a onclick="pages.switch('blog')">Blog</a> • <a onclick="pages.switch('fun')">Fun</a>
        </p>

        <hr class="line65">

        <div id="page-blog-template" class="page">
            <p>

            </p>
        </div>

        <script src="../nebumaker.js"></script>

        <script src="../quote.js"></script>

        <script src="../blog.js"></script>

        <script src="../main.js"></script>
    </body>
</html>