@keyframes widthline65 {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes widthline75 {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes buildopacityspawn {
    0% {
        --old-padding-bottom: var(padding);
        padding-bottom: 50px;
        opacity: 0%;
    }
    100% {
        padding: var(--old-padding-bottom);
        opacity: 100%;
    }
}

@keyframes quoteboomdown {
    0% {
        font-size: 30px;
    }
    100% {
        font-size: 20px;
    }
}

@keyframes profileboomdown {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

body {
    background-color: rgb(8, 8, 8);
    overflow-x: hidden;
}

.build-opacity-spawn {
    animation: 1s ease-in-out buildopacityspawn;
}

.profile-picture {
    border-radius: 250px 150px;
    border: 2px white solid;
}

.profile-text {
    padding: 0 100px;
    color: lightblue;
}

.profile {
    animation: .5s ease-in-out profileboomdown;
    margin: 30px 0;
    transition: all .25s ease-in-out;
    border-radius: 20px;
}

.line65 {
    animation: 1s ease-in-out widthline65;
    width: 65%;
}

.line75 {
    animation: 1s ease-in-out widthline75;
    width: 75%;
}

.profile:hover {
    transform: scale(1.05);
}

.social {
    display: list-item;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account img:not(.icon1) {
    width: 25px;
    height: 25px;
    transition: all .25s ease-in-out;
    border-radius: 10px;
}

.icon1 {
    width: 23px;
    height: 23px;
    transition: all .25s ease-in-out;
    border-radius: 10px;
}

.account img:hover {
    width: 30px;
    height: 30px;
}

.account a {
    color: lightsteelblue;
    border-radius: 10px;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    text-decoration-thickness: 0.1px;
    font-size: 15px;
    transition: all .5s ease-in-out;
}

a:hover {
    text-decoration: underline dashed;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 5px;
    font-size: 17px;
}

#quote {
    animation: .5s ease-in-out quoteboomdown;
    color: lightgreen;
    font-size: 20px;
}

.sep-header {
    text-decoration: underline rgb(200, 173, 230) 1px;
    text-underline-offset: 10px;
    color: rgb(205, 178, 255);
}

.circle-text {
    margin-left: 20px;
}

.projects {
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

.sep-header {
    transition: all .5s ease-in-out;
}

.sep-header:hover {
    transform: scale(1.1);
}

.stat {
    margin: 10px;
    transition: all .1s ease-in-out;
}

.stat:hover {
    transform: scale(1.02);
}

.github {
    display: grid;
    position: absolute;
    grid-template-columns: 475px 10px;
    margin: 0 50%;
    left: -475px;
}

h1 {
    font-size: 40px;
}

.left-sidebar {
    position: absolute;
    left: 150px;
}

* {
    user-select: none;
    text-align: center;
    color: white;
    font-family: monospace;
}
