/* GITHUB STATISTICS */

.github {
    display: grid;
    position: absolute;
    grid-template-columns: 475px 10px;
    margin: 10px 50%;
    left: -475px;
}

.github .stat {
    padding: 10px 0px;
    transition: all .1s ease-in-out;
}

.github .stat:hover {
    transform: scale(1.02);
}

/* UNDERLINES AND LINKS */

.link {
    transition: all .1s ease-in-out;
    display: inline-block;
}

.link:hover {
    transform: scale(1.1);
}

.link-blue {
    color: rgb(161, 140, 255);
}

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.underline-on-hover {
    text-decoration-line: none;
}

.underline-on-hover:hover {
    text-decoration-line: underline;
}

/* MISC */

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
}

.sticky {
    position: sticky;
    top: 10px;
}

.paragraph {
    margin: 0px 12.5%;
}

* {
    color: white;
    font-family: 'Roboto Mono';
    text-align: center;
}