/* Background/Page Style */

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
}

/* Sticky */

.sticky {
    position: sticky;
    top: 10px;
}

/* Navigation */

#navigation {
    border-radius: 0px;
    background: rgb(20, 20, 20);
    height: 75px;
}

#navigation .links {
    float: right;
    height: 75px;
}

#navigation .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: inline-block;
    height: 75px;
}

#navigation .links ul li {
    float: left;
    padding: 0px 35px;
}

#navigation .links ul li .link {
    margin: 30px 0px;
    border-radius: 10px;
}

#navigation .header {
    float: left;
    height: 75px;
}

#navigation .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: inline-block;
    height: 75px;
}

#navigation .header ul li {
    float: left;
    padding: 0px 35px;
}

#navigation .header ul .list-link {
    padding: 0px 20px;
}

#navigation .header ul li .link {
    margin: 30px 0px;
}

.bullet-point {
    list-style-type: disc;
}

.header-list {
    transition: all .1s ease-in-out;
}

.header-list:hover {
    transform: scale(1.1);
}

.header-icon {
    transition: all .1s ease-in-out;
}

.header-icon:hover {
    transform: scale(1.15);
}

.selected {
    background-color: rgb(0, 0, 0);
    border: 10px solid rgb(0, 0, 0);
    margin: 20px -10px;
    border-radius: 15px;
    transition: all .1s ease-in-out;
}

.selected:hover {
    transform: scale(1.1);
}

/* Github Statistics */

.github {
    display: grid;
    position: absolute;
    grid-template-columns: 475px 10px;
    margin: 75px 50%;
    left: -475px;
}

.github .stat {
    padding: 10px 0px;
    transition: all .1s ease-in-out;
}

.github .stat:hover {
    transform: scale(1.02);
}

/* Misc */

.link {
    transition: all .1s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.underline-on-hover:hover {
    text-decoration-line: underline;
}

.paragraph {
    margin: 0px 12.5%;
}

.circle {
    border-radius: 100%;
}

input {
    background-color: rgb(32, 32, 32);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 7.5px;
    border: none;
    outline: none;
}

/* Fun showcase items */

.showcase {
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.showcase .showcase-card {
    border-radius: 25px;
    background-color: black;
    width: 350px;
    height: 365px;
    margin: 0px calc(50% - 175px);
    transition: all .1s ease-in-out;
}

.showcase:hover .showcase-card {
    transform: scale(1.05);
}

.showcase .showcase-card .title {
    padding: 15px;
    margin: 0px 30px;
}

.showcase .showcase-card .description {
    float: left;
    margin: 0px 30px;
}

.showcase .showcase-card .thumbnail {
    border-radius: 7.5px;
    margin: 10px 0px;
}

/* Instance2d page */

.instance2d-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instance2d-title {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes float-instance2d-title {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#instance2d-title img {
    margin-left: 20px;
}

#instance2d-title-hr {
    width: 850px;
    margin-top: 15px;
    height: 2.5px;
    background-color: white;
    border-radius: 10px;
}

.char {
    display: inline-block;
    animation: float-instance2d-title 2s ease-in-out infinite;
}
.char:nth-child(1) {
    animation-delay: 0s;
}
.char:nth-child(2) {
    animation-delay: 0.1s;
}
.char:nth-child(3) {
    animation-delay: 0.2s;
}
.char:nth-child(4) {
    animation-delay: 0.3s;
}
.char:nth-child(5) {
    animation-delay: 0.4s;
}
.char:nth-child(6) {
    animation-delay: 0.5s;
}
.char:nth-child(7) {
    animation-delay: 0.6s;
}
.char:nth-child(8) {
    animation-delay: 0.7s;
}
.char:nth-child(9) {
    animation-delay: 0.8s;
}

.instance2d-import-code {
    font-size: 16px;
    margin: 0px 125px 0px 0px;
}

.keyword {
    color: #d73a49;
}
.variable {
    color: #6f42c1;
}
.string {
    color: #8a6b29;
}
.comment {
    color: #6a737d;
}

code {
    background-color: rgba(27, 31, 35, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-size: 85%;
    color: #e83e8c;
}

.instance2d-feature {
    margin: 50px 75px;
    transition: all .25s ease-in-out;
}

.instance2d-feature img {
    border-radius: 10px;
    outline: solid white 10px;
}

.instance2d-feature:hover {
    transform: scale(1.05);
}

.instance2d-features {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* .right {
    margin: 50px 0px 0px 600px;
}

.left {
    margin: 50px 0px 600px 0px;
} */

/* Text features */

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.blue-text {
    color: #00b6ee;
}

#quote {
    color: #90eebf;
}

.quote {
    color: #90eebf;
}

/* Default text and color */

* {
    color: white;
    font-family: 'Roboto Mono';
    text-align: center;
}