html {
    overflow-x: hidden;
}

body {
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
}

.sticky {
    position: sticky;
    top: 10px;
}

#navigation {
    border-radius: 0px;
    background: rgb(20, 20, 20);
    height: 75px;
}

#navigation .links {
    float: right;
    /* border-radius: 20px;
    background: rgb(20, 20, 20); */
    height: 75px;
}

#navigation .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: inline-block;
    height: 75px;
}

#navigation .links ul li {
    float: left;
    padding: 0px 35px;
}

#navigation .links ul li .link {
    margin: 30px 0px;
    border-radius: 10px;
}

#navigation .header {
    float: left;
    /* border-radius: 20px;
    background: rgb(20, 20, 20); */
    height: 75px;
}

#navigation .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: inline-block;
    height: 75px;
}

#navigation .header ul li {
    float: left;
    padding: 0px 35px;
}

#navigation .header ul .list-link {
    padding: 0px 20px;
}

#navigation .header ul li .link {
    margin: 30px 0px;
}

.bullet-point {
    list-style-type: disc;
}

.header-list {
    transition: all .1s ease-in-out;
}

.header-list:hover {
    transform: scale(1.1);
}

.header-icon {
    transition: all .1s ease-in-out;
}

.header-icon:hover {
    transform: scale(1.15);
}

.selected {
    background-color: rgb(0, 0, 0);
    border: 10px solid rgb(0, 0, 0);
    margin: 20px -10px;
    border-radius: 15px;
    transition: all .1s ease-in-out;
}

.selected:hover {
    transform: scale(1.1);
}

.github {
    display: grid;
    position: absolute;
    grid-template-columns: 475px 10px;
    margin: 75px 50%;
    left: -475px;
}

.github .stat {
    padding: 10px 0px;
    transition: all .1s ease-in-out;
}

.github .stat:hover {
    transform: scale(1.02);
}

.link {
    transition: all .1s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.underline-on-hover:hover {
    text-decoration-line: underline;
}

.paragraph {
    margin: 0px 12.5%;
}

.circle {
    border-radius: 100%;
}

input {
    background-color: rgb(32, 32, 32);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 7.5px;
    /* border-width: 5px;
    border-color: rgba(128,128,128, .75); */
    border: none;
    outline: none;
}

.showcase {
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.showcase .showcase-card {
    border-radius: 25px;
    background-color: black;
    width: 350px;
    height: 365px;
    margin: 0px calc(50% - 175px);
    transition: all .1s ease-in-out;
}

.showcase:hover .showcase-card {
    transform: scale(1.05);
}

.showcase .showcase-card .title {
    padding: 15px;
    margin: 20px 30px;
}

.showcase .showcase-card .description {
    float: left;
    margin: 20px 30px;
}

.showcase .showcase-card .thumbnail {
    border-radius: 7.5px;
}

* {
    color: white;
    font-family: 'Roboto Mono';
    text-align: center;
}